<div class="list-group">
    {{#each employees as |employee|}}
        {{#link-to "employees.employee" employee class="list-group-item"}}#{{employee.id}}. {{employee.firstname}}{{/link-to}}
    {{/each}}
</div>