<div class="list-group">
    {{#each employees as |employee|}}
        {{#unless employee.isNew}}
            {{#link-to "employees.employee" employee class="list-group-item"}}#{{employee.id}}. {{employee.firstName}}{{/link-to}}
        {{/unless}}
    {{/each}}
</div>