<div class="row">
    <div class="col-sm-6">
        <h1>{{boardroom.title}}</h1>
    </div>
    <div class="col-sm-6">
        <div class="pull-right top-buffer">
            {{#link-to "boardrooms.book" boardroom class="btn btn-success"}}Book It!{{/link-to}}
            <a href="" class="btn btn-warning">Employee List</a>
        </div>
    </div>
</div>

<div>
    {{calendar-view appointments=appointments}}
</div>

