<h1>{{model.title}}</h1>

<div>
    {{calendar-view}}
</div>

<div>
    {{#link-to "boardrooms.book" model class="btn btn-success"}}Book It!{{/link-to}}
    <a href="" class="btn btn-warning">Employee List</a>
</div>