<div class="row">
    <div class="col-sm-3">
        {{#link-to "employees.new" class="btn btn-info btn-block bottom-buffer"}}Add new employee{{/link-to}}
        {{employees-list employees=model}}
    </div>
    <div class="col-sm-9">
        {{outlet}}
    </div>
</div>